<nav class="navbar navbar-expand-lg navbar-custom px-4 sticky-top">

    <!-- LOGO -->
    <a class="navbar-brand brand-logo" href="/">
        BAOBAB <span>CENTER</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">

        <ul class="navbar-nav ms-auto align-items-center">

            <li class="nav-item">
                <a class="nav-link nav-custom" href="">
                    <fa-icon [icon]="faHouse"></fa-icon> Accueil
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link nav-custom" href="/shop">
                    <fa-icon [icon]="faShop"></fa-icon> Boutiques
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link nav-custom position-relative" routerLink="/panier">
                    <fa-icon [icon]="faCart"></fa-icon> Panier

                    <span
                    *ngIf="cartCount$ | async as count"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    [class.d-none]="count === 0">
                    {{ count }}
                    </span>
                </a>
            </li>

            <li class="nav-item ms-3">
                <ng-container *ngIf="loggedIn$ | async as loggedIn; else showLogin">
                    <button class="btn btn-outline-danger px-4" (click)="logout()">
                    Déconnexion
                    </button>
                </ng-container>

                <ng-template #showLogin>
                    <a class="btn btn-danger px-4" routerLink="/login">
                    Se connecter
                    </a>
                </ng-template>
            </li>

        </ul>
    </div>
</nav>


<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>