body {
    margin: 0;
    overflow-x: hidden;
}

.carousel-img {
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%);
}

.welcome-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.4);
}

button:hover {
    transform: scale(1.05);
    transition: 0.3s;
}