.edit-profile-card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.profile-image-container {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #f1f1f1;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.profile-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
