.user-card {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.user-image {
    flex-shrink: 0;
    width: 60px; /* largeur fixe pour l'image */
    height: 60px; /* hauteur fixe pour l'image */
    overflow: hidden;
    border-radius: 50%; /* pour faire une image ronde */
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* permet de recadrer l'image pour qu'elle remplisse le conteneur */
    display: block;
}